# Node modules
node_modules/

# Environment variables
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build outputs
dist/
build/

# Cache
.cache/
.next/
tmp/
temp/

# IDE / Editor files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
# Allow dist folder for deployment
!dist/

